.wheel-grid {
	display: block grid;
	column-gap: 0.5rem;

	& + button {
		inline-size: 100%;
	}
}

.wheel {
	text-align: center;

	.title {
		line-height: 1;
	}

	.item {
		margin-block: 0.4688em;
		font-size: 4rem;
		user-select: none;
	}
}

.debug {
	text-align: start;

	fieldset {
		border-width: var(--border-width);
		border-color: var(--border-color);
		border-radius: var(--border-radius);
		background-color: var(--btn-bg-color);
		font-weight: 500;
		font-size: 1em;
		font-family: inherit;
		transition: var(--border-transition);

		&:hover {
			border-color: var(--btn-hover-color);
		}
	}
}
