h3 {
	font-size: 1.8em;
}

form {
	display: block flex;
	gap: 0.5rem;
}

input[type="text"] {
	text-indent: 4px;
}

ul {
	display: block grid;
	grid-template-columns:
		[checkbox-left] auto
		[checkbox-right label-left] 1fr
		[label-right button-left] auto
		[button-right];
	gap: 0.625rem 0.25rem;
	list-style-type: none;
	text-align: start;
	padding-inline-start: 0;

	> li {
		display: block grid;
		grid-template-columns: subgrid;
		grid-column: checkbox-left / button-right;
		align-items: safe center;

		label {
			display: block grid;
			grid-template-columns: subgrid;
			grid-column: checkbox-left / label-right;
		}

		button > span {
			position: relative;
			pointer-events: none;
			inset-block-start: -1px;
		}
	}
}

.done {
	text-decoration: line-through;
}
